.n-bar {
    background-color: #302E30;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.n-link {
    color: #E9ECEF; 
    font-size: .8em;
    font-weight: bold;
}

.n-link:hover {
    text-decoration: none;
    font-weight: bold;
    color: #FFC23A;
}

.n-img {
    width: 96px;
    height: 56px;
    transform: translateY(-23%)
}

.n-username {
    font-size: .8em;
    font-weight: bold;
    line-height: 1px;
    color: #FFC23A;
}

