body, html {
    height: 100%;

    /* The image used */
    background-image: url('../img/beans2.jpg');
    
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.registration-title {
    text-align: center;
    color: #FFC23A;
    font-size: 3em;
}

.registration-title-container {
    padding: 5%;
}

.registration-forms-container {
    margin: auto;
    max-width: 300px;
    padding-bottom: 4%;
}

.registration-link {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.registration-container {
    margin: auto;
    transform: translateY(30%);
    padding: 3%;
    width: 500px;
    background-color: #302E30;
    border: 2px solid #FFC23A;
}

.cancelb {
    transform: translateX(144%);
}
